# Dependencies
vendor/
node_modules/

# Build artifacts
public/build/
public/hot/
public/mix-manifest.json

# Environment & Secrets
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Git & CI/CD
.git/
.github/
.gitlab-ci.yml
Jenkinsfile


# Tests & Docs
tests/
phpunit.xml
README.md